[Unit]
Description=DynIPt client
After=network.target

[Service]
User=dynipt
Restart=always
Type=forking
WorkingDirectory=/opt/dynipt-client
ExecStart=/opt/dynipt-client/sh/dynipt-client.sh start
ExecStop=/opt/dynipt-client/sh/dynipt-client.sh stop

[Install]
WantedBy=multi-user.target
